@import "../../variables.scss";
@import "../../mixin.scss";

.contact-wrapper {
  @include f-column;
  h2 {
    padding-bottom: 1rem;
  }
  .contact-sm-wrapper {
    padding-bottom: 7rem;
    @include f-row;
    gap: 3rem;

    form {
      width: 40%;
      height: 100%;
      @include f-column;
      gap: 1rem;
      overflow: hidden;
      input,
      textarea {
        display: block;
        width: 100%;
        border: none;
        padding: 1.5rem;
        background-color: $input-bg;
      }
      label {
        position: relative;
        h4 {
          position: absolute;
          color: $placeholder;
          font-family: $roboto-l;
          font-size: 1.5rem;
          left: 1.5rem;
          top: 1.5rem;
        }
        span {
          color: red;
          padding-left: 0.5rem;
        }
        &:focus-within h4 {
          visibility: hidden;
        }
      }
    }
    .contact-img-wrapper {
      width: 60%;
      height: 100%;
      img {
        object-fit: cover;
      }
    }
  }
  .btn {
    align-self: self-start;
    background-color: $color;
    color: $dark-text;
    svg {
      fill: white;
    }
  }
}
