@import "../../variables.scss";
@import "../../mixin.scss";

.intro-wrapper {
  @include f-row;
  max-height: 80vh;
  .intro-text {
    @include center-column;
    width: 30%;
    span {
      font-size: 6.4rem;
    }
  }
  .intro-img-wrapper {
    width: 70%;
    overflow: hidden;
    position: relative;
    a {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $dark-text;
    }
  }
}
