@import "../../variables.scss";
@import "../../mixin.scss";

.intro-wrapper {
  padding-top: 3rem;
  width: 100%;
  @include f-row;
  justify-content: space-between;
  max-height: 80vh;

  .intro-text {
    @include center-column;
    width: 35%;
    span {
      font-size: 6.4rem;
    }
  }
  .intro-img-wrapper {
    overflow: hidden;
    width: 65%;
    // @include f-row;
    // justify-content: flex-end;
    .img-relativ {
      position: relative;
      overflow: hidden;
      max-height: 80vh;
      img {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
      }
      a {
        position: absolute;
        bottom: 2rem;
        left: 0;
        background-color: $dark-text;
      }
    }
  }
}

// @media screen and (max-width: 1200px) {

// }

// @media screen and (max-width: 1000px) {

// }

@media screen and (max-width: 750px) {
  .intro-wrapper {
    max-height: 50vh;

    .intro-text {
      @include center-column;
      width: 50%;

      span {
        font-size: 5rem;
      }
    }
    .intro-img-wrapper {
      width: 50%;
      @include f-row;
    }
  }
}

@media screen and (max-width: 420px) {
  .intro-wrapper {
    padding-top: 1rem;
    .intro-text {
      padding-right: 3rem;
      span {
        font-size: 3rem;
      }
    }
  }
}
