@import "../../variables.scss";
@import "../../mixin.scss";

.project-wrapper {
  @include f-column;
  gap: 3rem;
  .projects-img-wrapper {
    @include f-column;
    gap: 3rem;
    .projects-row {
      @include f-row;
      gap: 3rem;
      .first-wrapper {
        position: relative;
        .projects-text {
          position: absolute;
          @include f-column;
          bottom: 0;
          background-color: rgba($color: rgb(68, 63, 63), $alpha: 0.3);
          padding-top: 4rem;
          padding-left: 5rem;

          h3 {
            color: #fff;
            font-family: $roboto-b;
            width: 23rem;
            font-size: 4rem;
            font-weight: 700;
            align-self: flex-start;
            opacity: 0.9;
            z-index: 3;
          }

          a {
            color: #fff;
            align-self: flex-start;
            opacity: 0.9;
            z-index: 3;
            background-color: transparent;
          }

          svg {
            fill: white;
            color: white;
          }

          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .btn:last-of-type {
    align-self: flex-end;
    background-color: $color;
    color: $dark-text;
    svg {
      fill: white;
    }
  }
}

// @media screen and (max-width: 1200px) {

// }

// @media screen and (max-width: 1000px) {

// }

@media screen and (max-width: 850px) {
  .project-wrapper {
    .projects-img-wrapper {
      .projects-row {
        .first-wrapper {
          .projects-text {
            h3 {
              width: 20rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
// @media screen and (max-width: 750px) {

// }

@media screen and (max-width: 750px) {
  .project-wrapper {
    .projects-img-wrapper {
      .projects-row {
        @include f-column;
        .p-img-wrapper {
          margin: 0 auto;
          max-width: 75vw;
          width: 75vw;
          max-height: 45vh;
          overflow: hidden;
          img {
            object-fit: cover;
          }
        }
        .first-wrapper {
          .projects-text {
            @include center-column;
            h3 {
              width: 20rem;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
