@import "../variables.scss";
@import "../mixin.scss";

.main-wrapper {
  padding: 0 14rem 3rem 14rem;
  @include f-column;
  gap: 14rem;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .main-wrapper {
    padding: 0 3rem 3rem 3rem;
  }
}
