@import "./variables.scss";
@import "./mixin.scss";

/* -Global Styles*/

@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../src/assets/fonts/Roboto/Roboto-Bold.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  @include robo-light;
  color: $light-text;
}

.row {
  @include f-row;
}

.column {
  @include f-column;
}

.text-center {
  text-align: center;
}

.space {
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color;
}

.dark {
  background-color: $color;
  color: $dark-text;
  min-height: 100vh;
}

.dark a {
  color: $dark-text;
}
.dark svg {
  color: $dark-text;
}

input {
  background-color: $input-bg;
  &::placeholder {
    color: $placeholder;
  }
}

.big-number {
  color: $big-number-color;
}
