@import "./variables.scss";
@import "./mixin.scss";

/* -Global Styles*/

@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../src/assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("../src/assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("../src/assets/fonts/Roboto/Roboto-Thin.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  @include robo-light;
  color: $light-text;
}

.row {
  @include f-row;
}

.column {
  @include f-column;
}

.text-center {
  text-align: center;
}

.space {
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color;
}

input {
  background-color: $input-bg;
  &::placeholder {
    color: $placeholder;
  }
}

.big-number {
  color: $big-number-color;
}

// ! DARK MODUS

.dark {
  background-color: $color;
  color: $dark-text;
  min-height: 100vh;
  p {
    color: $dark-text;
  }
  a {
    color: $dark-text;
  }
  header {
    .logo-wrapper {
      fill: white;
    }
    .nav-wrapper {
      .active {
        border-bottom: 1px solid white;
        border-top: 1px solid white;
      }
    }
  }

  .btn:not(.special-btn) {
    background-color: white;
    color: $color;

    svg {
      fill: $color;
    }
  }
  .mission-wrapper {
    .mi-wrapper {
      .mission {
        p {
          color: $dark-text;
        }
      }
    }
  }
}

h2 {
  font-size: 6.4rem;
  color: $light;
  font-family: $roboto-t;
  font-weight: 300;
}

@media screen and (max-width: 750px) {
  h2 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 420px) {
  h2 {
    font-size: 3rem;
  }
}
