$roboto: Roboto, Arial, Helvetica, sans-serif;
$roboto-b: Roboto-Bold, Arial, Helvetica, sans-serif;
$roboto-l: Roboto-Light, Arial, Helvetica, sans-serif;
$roboto-t: Roboto-Thin, Arial, Helvetica, sans-serif;

$color: #333;
$light-text: #000;
// $light-gray: rgb(172, 171, 171);
$dark-text: #ffffff;
// $comp-color: #b98250;
// $comp-color: #c37731;
$light: #bdbdbd;
$placeholder: #8d8d8d;
$input-bg: #f3f3f3;
$big-number-color: #f2f2f2;

// $dark: rgb(129, 197, 3);
$alert-color: rgb(215, 145, 15);
$confirmation-color: rgb(27, 132, 27);
$error-color: rgb(131, 10, 10);
